extends layout
append body
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/tables.css')
    .container-fluid
        .row
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Legg til vakt
    #indent
        table(border="1")
            thead
            tbody
                tr
                    th='Type vakt'
                    th='Navn'
                    th='Start'
                    th='Slutt'
                    th='Slett'
            for object in shift
                tr
                    for subobject in object
                        if(subobject == object.id)
                            td
                                form(id="test" action="/addShift/delete", method="post")
                                    button(type="submit" value=subobject style = "width:100%" name="button" id="button") Slett vakt

                        else
                            td= subobject

        form(id="test" action="/addShift/insert", method="post")

            select(id="shiftType", name="shiftType" required)
                option(value="" selected=true disabled=true) Vakttype
                option(value="Åpning") Åpning
                option(value="Vakt") Vanlig vakt
                option(value="Ansvarsvakt") Ansvarsvakt

            select(id="name", name="name" required)
                option(value="" selected=true disabled=true) Navn
                for intern in everyone
                    option(value=intern.id) !{intern.navn}

            select(id="start_time", name="start_time" required)
                option(value="" selected=true disabled=true) Vakt fra
                -for(var j = 0;j<=23;j++){
                option(value = j + ":00:00") #{j}:00
                option(value = j + ":30:00") #{j}:30
                -}

            select(id="end_time", name="end_time" required)
                option(value="" selected=true disabled=true) Vakt til
                -for(var j = 0;j<=23;j++){
                option(value = j + ":00:00") #{j}:00
                option(value = j + ":30:00") #{j}:30
                -}

            select(id="eventNumber", name="eventNumber", class="eventNumberBox")
                option(value=selectedEvent) Ignorer dette feltet

            button(type="submit", id='addShiftButton') Legg til vakt

    script.
        $(document).ready(function () {
            $("select").select2();
        });