extends layout
append body
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/style.css')
    .container-fluid
        .row
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Legg til vakt
    #indent
        table(border="1")
            thead
            tbody
            for object in shift
                tr
                    for subobject in object
                        td= subobject
                    td
                        button(type="submit" style="width:100%") Slett vakt


        form(id="test" action="/addShift/insert", method="post")

            select(id="shiftType", name="shiftType")
                option(value="" selected=true disabled=true) Vakttype
                option(value="Opening") Åpning
                option(value="Shift") Vanlig vakt
                option(value="Responsible") Ansvarsvakt

            select(id="name", name="name")
                option(value="" selected=true disabled=true) Navn
                for intern in everyone
                    option(value=intern.id) !{intern.navn}

            select(id="start_time", name="start_time" )
                option(value="" selected=true disabled=true) Vakt fra
                -for(var j = 0;j<=23;j++){
                option(value = j + ":00:00") #{j}:00
                option(value = j + ":30:00") #{j}:30
                -}

            select(id="end_time", name="end_time" )
                option(value="" selected=true disabled=true) Vakt til
                -for(var j = 0;j<=23;j++){
                option(value = j + ":00:00") #{j}:00
                option(value = j + ":30:00") #{j}:30
                -}

            button(type="submit", id='addShiftButton') Legg til vakt

    script.
        $(document).ready(function () {
            $("select").select2();
        });