extends layout
append body
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/style.css')

    .container-fluid
        .row
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header Liste over vakter

    #indent

        form(id="findByName" action="/calendar/shiftByName", method="post")

            select(id="findName", name="findName")
                option(value="" selected=true disabled=true) Navn
                for intern in listOfNames
                    option(value=intern.id) !{intern.navn}

            button(type="submit", id='findByNameButton') Finn vakter

        -var last = 1;
        -var dups = [];
        -var rest = [];
        -var counter = 0;
        for object in listOfShifts
            if last == 1
                - last = object.skift_id
                - dups.push(object.skift_id, object.name, object.date, object.comments)
            unless last == object.skift_id
                - dups.push(object.skift_id, object.name, object.date, object.comments)
                - last = object.skift_id
            - rest.push(object.skift_id, object.navn, object.start_time, object.end_time, object.type)

        - for (var i=0; i<dups.length;i+=4){
        br
        table(border='1')
            tr
                td(colspan='4')
                    h2 !{dups[i+2]} - !{dups[i+1]}
            tr
                td(rowspan='100') !{dups[i+3]}
            tr
                td(colspan='3')
                    b Skift
            - for (var j=counter; j<rest.length;j+=5){
                tr
                    td !{rest[j+4]}
                    td !{rest[j+1]}
                    td !{rest[j+2]}-!{rest[j+3]}
                -counter+=5
                unless  rest[j+5] == null
                    unless rest[j] == rest[j+5]
                        - break
            -}
        -}


    script.
        $(document).ready(function () {
            $("select").select2();
        });